body{
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(#e7b100, #ffe600, #0faad1, #f1f1f1);
    background-repeat: no-repeat;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #111;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.nav-right button {
    margin-left: 10px;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
}

header {
    text-align: center;
    padding: 20px;
}

.logo img {
    width: 200px;
}

.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 20px;

    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                url('../img/gym.jpg');
    background-size: cover;
    background-position: center;

    color: white;
}


.hero h1 {
    font-size: 40px;
    margin-bottom: 15px;
    text-shadow: 0px 0px 5px hsl(0, 0%, 8%);
}

.hero p {
    max-width: 600px;
    margin-bottom: 15px;
    text-shadow: 0px 0px 5px hsl(0, 0%, 8%);
}

.hero h2 {
    font-size: 20px;
    font-weight: normal;
}

.cta {
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    background: #0c0022;
    color: rgb(238, 217, 29);
    font-size: 16px;
    text-shadow: 0px 0px 5px hsl(290, 80%, 51%);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.cta:hover {
    color: rgb(255, 255, 255);
    background: #67e8ff;
}


footer {
    text-align: center;
    text-shadow: 0px 0px 5px hsl(0, 0%, 8%);
    padding: 15px;
    background: #111;
    color: white;
}

button{
    background-color: #251144;
    color: rgb(255, 255, 255);
    border: 2px solid #e4c40f;
    cursor: pointer;
    box-shadow: #ffd900 0px 0px 5px;
}

button:hover{
    background-color: #3c8ebd;
    border: 2px solid #6af5ff;
}